<div class="jumbotron">
		<div ng-controller="UtilCtrl">
			<div class="alert alert-primary" role="alert"  ng-repeat="message in messages">{{message}}</div>  		
		</div>
		<form ng-submit="saveFormSubmit()">
		<div class="form-group" ng-repeat="(key,element) in form_model.columns">
		    <input ng-if="!element.controller" type="text" class="form-control" id="e-{{key}}" placeholder="{{element.title}}" ng-model="form_model.columns[key].value">
			<div ng-if="element.controller" class="card">
				<button ng-click="selectEntity(element.controller,$event,form_model.columns[key])" ng-if="!element.value" type="button" class="btn btn-secondary">{{element.title}} (Select)</button>
				<div ng-if="element.value">
					<h4><span class="badge badge-secondary" ng-repeat="(propKey,propVal) in element.value"> {{propVal}}</span></h4>
					<h4><span class="badge badge-secondary" ng-click="element.value=null"> X </span></h4>
				</div>
			</div>
  		</div>
  		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>